---
layout: default
---
<section class="hero row">
  <div class="col-12">
    <h2 class="tagline">
      <i class="black">
        Large bold text. Talk about myself.
      </i>
      <i class="gray">
        Product Engineer at <a href="https://www.fin.com/">Fin</a>.
      </i>
      <br>
      <i class="ultra-light-gray">
        Previously at <a href="https://www.linkedin.com/">LinkedIn</a>,
        <a href="https://www.cbsnews.com/">CBSNews.com</a>.
      </i>
    </h2>
  </div>
</section>

<section class="portfolio row">
  <ul class="projects">
    {% for post in site.posts %}
    <li class="project">
      <a href="{% if post.link_only %}{{ post.link }}{% else %}{{ post.url | preprend: site.baseurl }}{% endif %}">
        {% if post.image %}
          <div class="project-image">
            <img src="/images/{{ post.image }}" alt="{{ post.title }}" />
          </div>
        {% endif %}
        <div class="project-meta">
          <h3 class="project-title">{{ post.title }}</h3>
          {% if post.headline %}
            <div class="project-desc">{{ post.headline }}</div>
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
