---
layout: default
---
<section class="hero row">
  <div class="col-12">
    <h2 class="tagline">
      Large bold text. Talk about myself.
      <i class="light-gray">
        Product Engineer at <a href="https://www.fin.com/">Fin</a>.
      </i>
      <br>
      <i class="ultra-light-gray">
        Previously at LinkedIn, CBSNews.com.
      </i>
    </h2>
  </div>
</section>

<section class="portfolio row">
  <ul class="projects">
    {% for post in site.posts %}
    <li class="project">
      <a href="{% if post.link_only %}{{ post.link }}{% else %}{{ post.url | preprend: site.baseurl }}{% endif %}">
        <img src="/images/{{ post.image }}" alt="{{ post.title }}" />
        <h3 class="title">{{ post.title }}</h3>
        {% if post.headline %}<div class="desc">{{ post.headline }}</div>{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
