<li class="project">
  <a href="{% if post.link_only %}{{ post.link }}{% else %}{{ post.url | preprend: site.baseurl }}{% endif %}">
    {% if post.image %}
      <div class="project-image">
        <img src="/images/{{ post.image }}" alt="{{ post.title }}" />
      </div>
    {% endif %}
    <div class="project-meta">
      <h3 class="project-title">{{ post.title }}</h3>
      {% if post.headline %}
        <div class="project-desc">{{ post.headline }}</div>
      {% endif %}
    </div>
  </a>
</li>
