<ul class="social-links">
  {% if site.github_username %}
    <li><a href="https://github.com/{{ site.github_username }}" title="Github" target="_blank">
      {% include /assets/github.svg %}
    </a></li>
  {% endif %}
  {% if site.soundcloud_username %}
    <li><a href="https://soundcloud.com/{{ site.soundcloud_username }}" title="SoundCloud" target="_blank">
      {% include /assets/soundcloud.svg %}
    </a></li>
  {% endif %}
  {% if site.twitter_username %}
    <li><a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" target="_blank">
      {% include /assets/twitter.svg %}
    </a></li>
  {% endif %}
  {% if site.spotify_username %}
    <li><a href="https://open.spotify.com/user/{{ site.spotify_username }}" title="Spotify" target="_blank">
      {% include /assets/spotify.svg %}
    </a></li>
  {% endif %}
</ul>
