<ul class="social-links">
  {% if site.github_username %}<li><a href="https://github.com/{{ site.github_username }}" title="Github" target="_blank"><span class="fa fa-github"></span></a></li>{% endif %}
  {% if site.twitter_username %}<li><a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" target="_blank"><span class="fa fa-twitter"></span></a></li>{% endif %}
  {% if site.spotify_username %}<li><a href="https://open.spotify.com/user/{{ site.spotify_username }}" title="Spotify" target="_blank"><span class="fa fa-spotify"></span></a></li>{% endif %}
  {% if site.linkedin_profile %}<li><a href="{{ site.linkedin_profile }}" title="LinkedIn" target="_blank"><span class="fa fa-linkedin"></span></a></li>{% endif %}
  <li><a class="mail" href="mailto:{{ site.email }}" title="Hit me up" target="_blank"><span class="fa fa-envelope"></span></a></li>
</ul>