html, body {
  background-color: $white;
  color: $gray;
  font-family: $system-font;
  font-size: 16px;
  font-weight: $regular;
  height: 100%;
  line-height: 2;
  position: relative;
}

* {
  box-sizing: border-box;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

hr {
  width: 100%;
  outline: 0;
  border: 1px solid $black;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
}

::-moz-selection {
  background: $pink;
  color: $white;
}

::selection {
  background: $pink;
  color: $white;
}
