.button {
  padding: 1rem 2rem;
  display: inline-block;
  background: $black;
  color: $white;

  &.primary {
    background: $black;
    color: $white;
  }

  &.secondary {
    background: $white;
    color: $black;
    border: 2px solid $black;
  }
}
