$black: #222222;
$white: #FFFFFF;

$transparent: rgba(0, 0, 0, 0);

$gray: #777777;
$light-gray: #AAAAAA;
$ultra-light-gray: #DDDDDD;

.black {
  color: $black;
}

.gray {
  color: $gray;
}

.light-gray {
  color: $light-gray;
}

.ultra-light-gray {
  color: $ultra-light-gray;
}
