$black: #000;
$white: #fff;

$transparent: rgba(0, 0, 0, 0);

$gray: #777777;
$light-gray: #AAAAAA;
$ultra-light-gray: #DDDDDD;

$pink: #f31e8a;

.black {
  &, & > a {
    color: $black;
  }
}

.gray {
  &, & > a {
    color: $gray;
  }
}

.light-gray {
  &, & > a {
    color: $light-gray;
  }
}

.ultra-light-gray {
  &, & > a {
    color: $ultra-light-gray;
  }
}

.pink {
  background: $pink;

  &, & > a { color: $white; }
}
