.post {
  header {
    margin: 4rem 0;
  }

  .post-title {
    color: $black;
  }

  .post-desc {
    color: $gray;
  }

  .post-tags + .post-date:before {
    content: '| ';
  }

  .content {
    img, iframe, video {
      margin: 1rem 0;
    }
  }

  .tags {
    margin: 2rem 0;
  }
}
