// Font weights
$bold: 700;
$regular: 400;
$thin: 300;

// Fonts
$system-font: "San Francisco Text", system, -apple-system, BlinkMacSystemFont, sans-serif !default;

h1, %h1 {
  font-size: 2.5rem;
}

h2, %h2 {
  font-size: 2rem;
}

h3, %h3 {
  font-size: 1.5rem;
  color: $light-gray;
}

p, %p {
  font-size: 1rem;
}
