@import "bourbon/bourbon";
// Grid settings
@import "neat/neat-helpers";
$grid-columns: 10;
$gutter: em(40);
$max-width: em(1140);
@import "neat/neat";
@import "normalize/normalize";
@import "config";
@import "utils";

// device sizes
$desktop: new-breakpoint(min-width 1141px 10);
$tablet: new-breakpoint(max-width 1140px 8);
$large-tablet: new-breakpoint(min-width 861px 8);
$small-tablet: new-breakpoint(max-width 860px 8);
$not-mobile: new-breakpoint(min-width 701px 4);
$mobile: new-breakpoint(max-width 700px 4);

html {
  -webkit-text-size-adjust: 100%;
}

// font smoothing
body, input {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}

body {
  color: $dark-gray;
}

a {
  text-decoration: none;
  color: $red;
  
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

header {
  @include clearfix;
  width:100%;
  padding: 2em 4em 2em;
  background: $light-gray;
  font-size: 1.25em;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  li {
    display: inline-block;
  }
  
  a {
    color: inherit;
  }
}

.menu {
  @include span-columns(5);
}

.menu-links {
  @extend .nav;
  font-family: $header-font;
  font-size: 0.8em;
  
  li {
    margin-right: 24px;
  }
  
  .mini {
    padding: 1em;
  }
}

.social-links {
  @include span-columns(5);
  @extend .nav;
  display: inline-block;
  text-align: right;
  li {
    text-align: right;
    
    a {
      padding: 10px;
    }
  }
}

div.container {
  @include clearfix;
  margin: 0 auto;
  //overflow: hidden;
  max-width: 1280px;
  > .col-2 {
    @include span-columns(2);
    @include omega;
  }
  > .col-4 { @include span-columns(4); }
}

.hero {
  background: $light-gray;
  padding: 2em 0 4em 0;
  text-align: center;
  
  .tagline-group {
    padding: 0 4em;
    max-width: 800px;
    margin: 0 auto;
    a {
      text-decoration: none;
    }
  }
  
  .tagline {
    color: $dark-gray;
    font-size: 2.5em;
    margin: 0.25em 0;
  }
  
  .tagline-byline {
    color: $gray;
    padding: 0.5em 0;
  }
  
  .action {
    padding-top: 2em;
  }
}

div.content {
  max-width: 780px;
  margin: 0 auto;
}

.logo {
  
}
h1.logo {
  margin: 0;
}

.projects {
  text-align: center;
  padding-bottom: 4em;
  margin-top: 4em;
  
  a:hover {
    text-decoration: none;
  }
  
  .project {
    color: #000;
    background: $blue;
    padding: 2.5em;
    margin-bottom: 1.3em;
    
    .tags {
      opacity: 0.6;
      font-family: $body-font;
      font-weight: 500;
    }
    
    .title {
      margin: 0;
      font-size: 2.5em;
      font-weight: bold;
      color: white;
      padding: 0.1em 0 0.3em 0;
    }
    
    .desc {
      color: white;
      font-weight: bold;
      line-height: 1.5em;
    }
  }
  
  .pagination {
    margin: 1em 0;
    .btn {
      margin: 0 2em;
    }
  }
}

.feature {
  background: $red;
  padding: 2em 0;
  margin-bottom: 4em;
  
  .content {
    text-align: center;
  }
  
  .title {
    color: white;
    font-size: 2.5em;
    margin: 0;
  }
  
  .sub {
    padding-top: 1em;
  }
}

.single {
  margin-bottom: 4em;
  .content {
    max-width: 740px;
    padding: 0 1em;
    
    p {
      line-height: 1.6em;
      font-size: 1.2em;
      color: $gray;
    }
    
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      
      &.shadow {
        box-shadow: 0 1px 8px rgba(0,0,0,0.15);
      }
    }
    
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
    
    h2 {
      font-size: 2em;
      font-weight: bold;
    }
    
    h3 {
      font-size: 1.8em;
      font-weight: bold;
      color: $gray;
    }
  }
}

ul.tags {
  @extend .nav;
  padding: 0.5em 0;
  text-align: center;
  li {
    margin: 0 2px;
    a {
      @include transition(all .1s);
      padding: 10px 18px 9px 18px;
      background: $light-gray;
      font-weight: bold;
      color: $gray;
      
      &:hover {
        background: $red;
        color: white;
        text-decoration: none;
        
        &.design { background: $red; }
        &.development { background: $blue; }
        &.video { background: $green; }
        &.yellow { background: $yellow; }
        &.purple { background: $purple; }
        &.silver { background: $silver; }
        &.turquoise { background: $turquoise; }
      }
    }
  }
}

a .fa-link {
  padding-right: 8px;
}

footer {
  background: $dark-gray;
  color: $light-gray;
  padding: 4em;
  
  .about {
    @include span-columns(5);
    font-family: $header-font;
    float: left;
    font-weight: bold;
  }
  
  .social-links {
    font-size: 1.25em;
  }
}

// pure CSS sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}
// end

.btn {
  font-family: $header-font;
  cursor: pointer;
  padding: 1.1em 2em 1em 2em;
  background: $dark-gray;
  color: $light-gray;
  display: inline-block;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
  
  &.secondary {
    background: transparent;
    border: 3px solid transparent;
    color: $dark-gray;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  /* text arrows */
  /*&.prev:before {
    @extend %psuedo-element;
    content: '\2190';
    left: 0;
    padding-top: 1px;
  }
  
  &.next:before {
    @extend %psuedo-element;
    content: '\2192';
    right: 0;
    padding-top: 1px;
  }*/
  
  /* font awesome arrows */
  &.prev:before {
    @extend .fa;
    content: "\f177";
    left: 0;
    position: absolute;
    padding-top: 2px;
  }
  
  &.next:before {
    @extend .fa;
    content: "\f178";
    right: 0;
    position: absolute;
    padding-top: 2px;
  }
}

/* excerpt from FontAwesome 4.3.0 */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
}

/*`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  @include transition(left 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000));
  cursor: pointer;
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  right: 0;
  background: $dark-gray;
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 999999;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;

  &:hover, &:focus {
    background: $dark-gray;
  }

  span {
    position: relative;
    display: block;
    
    & {
      @include transition(all .2s);
    }

    &, &:before, &:after {
      background-color: #fff;
      width: 100%;
      height: 0.2em;
    }

    &:before, &:after {
      @include transition(all .4s);
      @include transform(rotate(deg));
      position: absolute;
      margin-top: -0.6em;
      content: " ";
      top: 0;
    }

    &:after {
      margin-top: 0.6em;
    }
  }

  &, & a, & span {
    @include box-sizing(initial);
  }
}

@include media($not-mobile) {
  .menu-link {
    display: none;
  }
  
  .menu-links .mini {
    display: none;
  }
  
  header .logo {
    display: none;
  }
  
  #menu {
    display: none;
  }
}

@include media($mobile) {
  #menu {
    @include transition(left 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000));
    -webkit-transform: translate3d(0,0,0); // new layer hack
    position: fixed;
    margin-left: -300px;
    width: 300px;
    height: 100%;
    left: 0;
    top:0;
    z-index: 999998;
    overflow-y: auto;
    overflow-x: hidden;
    background: black;
    opacity: 0.9;
    
    nav {
      ul.menu-links {
        text-align: center;
        font-size: 1.5em;
        color: white;
        font-weight: bold;
        
        li {
          display: block;
          margin: 0;
          
          a {
            padding: 1em;
            display: block;
            
            &:hover {
              text-decoration: none;
              color: $dark-gray;
              background: white;
            }
          }
        }
      }
    }
  }
  
  body.active #menu {
    left: 300px;
  }
  
  body.active #toggle {
    span {
      background-color: rgba(255,255,255,0);

      &:before {
        @include transform(rotate(45deg));
        top:6px;
      }
      &:after {
        @include transform(rotate(-45deg));
        top:-6px;
      }
    }
  }
  
  .social-links {
    @include span-columns($grid-columns);
    text-align: center;
  }
  
  footer .about {
    @include span-columns($grid-columns);
    text-align: center;
    padding-bottom: 2em;
  }
  
  header {
    padding: 1.5em 2em;
    
    .social-links {
      display: none;
    }
    
    .menu {
      @include span-columns($grid-columns);
    }
  }
  
  .pagination {
    &.top .prev {
      display: none;
    }
    
    &.bottom .next {
      display: none;
    }
  }
}
