body{
	background-color: #430651;
	-webkit-user-select: none;
	overflow: hidden;
}

canvas{
	position:absolute;
	left:0px;
	top:0px;
}

.paused{
	-webkit-text-stroke: 1px white;
	-webkit-text-stroke-width: medium;
	font-size: 1.5em;
	font-weight: bolder;
}

.coolness{
	text-shadow: 0px 0px 4px rgb(255,255,255);
	color: white;
}

.whiteoutline{
	-webkit-text-stroke: 1px white;
	-webkit-text-stroke-width: medium;
	font-size: 1.5em;
	font-weight: bolder;
}

.text{
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: #06F;
	font-size: 2em;
	font-weight: bolder;
	background: black;
	-webkit-transform: scaleX(1.15) scaleY(1.15);
	width: 200px;
	-webkit-border-top-left-radius: 16px;
}

.shine{
	font-size: 2em;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, rgba(0,0,0,.5)), color-stop(0.69, rgba(255,255,255,1)), color-stop(1, rgba(255,255,255,0.5)));
	-webkit-transform: scaleX(1.15) scaleY(1.15);
	opacity: 0.5;
	width: 200px;
	-webkit-border-top-left-radius: 16px;
}

.shinelight{
	font-size: 2em;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.26, rgba(0,0,0,0)), color-stop(0.69, rgba(255,255,255,1)), color-stop(1, rgba(255,255,255,0.75)));
	-webkit-transform: scaleX(1.15) scaleY(1.15);
	width: 200px;
	opacity:0.7;
	-webkit-border-top-left-radius: 16px;
}

.presstext{
	color:#FFF;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: #0FF;
	font-size: 2em;
	font-weight: bolder;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.33)), to(rgba(0,0,0,1)));
	-webkit-transform: scaleX(1.15) scaleY(1.15);
	width: 200px;
	-webkit-border-top-left-radius: 16px;
}

#screen
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 320px;
	height: 480px;
}

#sidebar
{
	position: absolute;
	top: 0px;
	left: 0px;
	border: 0px;
	width: 80px;
	height: 480px;
}

.instance
{
	position: absolute;
	top: 0px;
	left: 0px;
	/* width: 100%;
	height: 100%; */
	font-family: Arial, Helvetica, sans-serif;
}

.hstext{
	text-shadow: 1px 0px 7px rgb(213,31,100);
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,1)), color-stop(0.33, rgba(0,0,0,1)), color-stop(0.94, rgba(0,0,0,0)));
}

.hstitle{
	color: white;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,1)), color-stop(0.5, rgba(0,0,0,1)), color-stop(1, rgba(0,0,0,0)));
	-webkit-text-stroke: 2px rgb(213,31,100);
	text-shadow: 0px 8px 12px rgb(243,61,130);
	font-size: 40px;
}

.title{
	color:white;
	text-shadow: 0px 4px 40px white;
	font-size: 32px;
}

#keyField
{
	position: fixed;
	top: 370px;
	left: 0px;
	width: 110px;
	height: 110px;
}

#sidebarButton
{
	width:80px;
	height:288px;
	left:0px;
	top: 0px;
	position: fixed;
}

#gameScreen
{
	width:216px;
	height:480px;
	left:104px;
	top: 0px;
	position: fixed;
}
