---
layout: default
---
<section class="post">
  <header>
    <div class="content">
      <h1 class="post-title">{{ page.title }}</h1>
      <h3 class="post-desc">{{ page.headline }}</h3>
    </div>
  </header>
  <article class="content">
    {% if page.image %}
      <p><img src="/images/{{ page.image }}" alt="{{ page.title }}" /></p>
    {% endif %}

    {{ content }}

    {% if page.link %}
    <p><a href="{{ page.link }}" class="btn secondary" target="_blank"><span class="fa fa-link"></span>{% if page.link_text %}{{ page.link_text }}{% else %}View project{% endif %}</a></p>
    {% endif %}
    <ul class="tags">
      {% for category in page.categories %}
      <li><a href="javascript:void(0)" class="{{ category }}">{{ category | titleize }}</a></li>
      {% endfor %}
    </ul>
  </article>
</section>
