---
layout: default
---
<section class="single">
  <div class="feature">
    <div class="content">
      <h1 class="title">{{ page.title }}</h1>
    </div>
  </div>
  <div class="content">
    {{ content }}
    {% if page.link %}
    <p><a href="{{ page.link }}" class="btn secondary" target="_blank"><span class="fa fa-link"></span>{% if page.link_text %}{{ page.link_text }}{% else %}View project{% endif %}</a></p>
    {% endif %}
    <ul class="tags">
      {% for category in page.categories %}
      <li><a href="javascript:void(0)" class="{{ category }}">{{ category | titleize }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>