---
layout: default
---
<section class="post">
  <header>
    <div class="content">
      <h1 class="post-title">{{ page.title }}</h1>
      <h3 class="post-desc">{{ page.headline }}</h3>
      <div class="post-extra">
        <span class="post-tags">{% include tags.html %}</span>
        <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
      </div>
    </div>
  </header>
  <article class="content">
    {% if page.image %}
      <figure>
        <img src="/images/{{ page.image }}" alt="{{ page.title }}" />
      </figure>
    {% endif %}

    {{ content }}

    {% if page.link %}
    <p><a href="{{ page.link }}" class="button secondary" target="_blank">
      {% if page.link_text %}{{ page.link_text }}{% else %}View project{% endif %}
    </a></p>
    {% endif %}
  </article>
</section>
